.tesla{
    background-color:green;
   
}


.tochangecolor{
    background-color:red;
}

#test2{
    background-color:beige;
    
}
#test2:hover{
    background-color: green;
}

#test4{
    background-color: beige;
}
